name: ci
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.13.0
          cache: npm

      - name: Install dependecies
        run: npm install

      - name: Run lint
        run: npm run lint

      - name: Run test
        run: npm run test:ci

      - name: Build
        run: npm run build
